* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    color: white;
}

/* NavBar / Logo styling */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#logo {

    color: #f77cfc;
    font-weight: 900;

}

#myName {
    color: #f77cfc;
}

body {
    margin-left: 150px;
    margin-right: 150px;
    background-color: #0D1224
}

nav {
    margin-right: 40px;
}

.navItems {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.navItems > li {
    list-style-type: none;
}

.navItems > li > a:hover {
    color: #f77cfc;
}


.navItems > li > a {
    text-decoration: none;
}

/* Main content styling */

/* Section introducing who I am, and my key skikls. */

.infoAboutMe {
    border: solid;
    border-color: red;

    height: 30rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 20px;

}

.programmingSkills {
    border: solid;
    height: 400px;
    background-color: red
}

/* Footer style */

footer > p {

    color: #f77cfc;
}