* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    color: white;
}

/* NavBar / Logo styling */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-color: rgba(255, 255, 255, 0.356);
}

#logo {

    color: #f77cfc;
    font-weight: 900;

}

#myName {
    color: #f77cfc;
}

body {
    margin-left: 150px;
    margin-right: 150px;
    background-color: #0D1224
}

nav {
    margin-right: 40px;
}

.navItems {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.navItems > li {
    list-style-type: none;
}

.navItems > li > a:hover {
    color: #f77cfc;
    transition: 0.3s;
}


.navItems > li > a {
    text-decoration: none;
}

/* Main content styling */

/* Section introducing who I am, and my key skikls. */

#introduction {
    font-size: 40px;
    align-content: baseline;
}

.socialMediaContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 20px;

}

#linkedInIcon {
    background-color: white;
    border-radius: 5px;
}

#contactMeBttn {
    background-color:#f77cfc;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
}

#contactMeBttn:hover {
    background-color: rgb(176, 25, 164);
    transition: 0.7s;
}

.infoAboutMe {

    height: 30rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 20px;

}

.skillsContainer {
    height: 400px;
    align-content: center;
}

#code1 {
    padding: 10px;
}

.macIcons {
    border: solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    border: solid;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* About me section */

.aboutMe {
   /* border: solid;*/
    height: 15rem;
}

.aboutMeTitle {
    text-transform: uppercase;
    font-size: 25px;
}

/* Footer style */

footer {
    justify-items: center;
    align-content: center;
    margin-top: 20px;
}

footer > p {

    color: #f77cfc;
}

/* Responsive web style */

@media screen and (max-width: 1055px) {
    .navItemsChild {
      display: none;
    }

    .infoAboutMe {
        display: inline;
    }
  }

  @media screen and (max-width: 600px) {

    #introduction {
        font-size: 20px;
        text-align: center;
    }

    .socialMediaContainer {
        justify-content: center;
    }

    body {
        margin-left: 40px;
        margin-right: 40px;
    }

    #code1 {
        font-size: 20px;
    }
 
  }